@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Simpliciter Sans Small Caps';
  src: url('https://db.onlinewebfonts.com/t/7c6a89f8efb1822a623c7a02a4d84e94.eot');
  src: url('https://db.onlinewebfonts.com/t/7c6a89f8efb1822a623c7a02a4d84e94.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/7c6a89f8efb1822a623c7a02a4d84e94.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/7c6a89f8efb1822a623c7a02a4d84e94.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/7c6a89f8efb1822a623c7a02a4d84e94.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/7c6a89f8efb1822a623c7a02a4d84e94.svg#Simpliciter Sans Small Caps')
      format('svg');
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.simpliciter-font {
  font-family: 'Simpliciter Sans Small Caps';
}

.on-story-each #playground {
  position: fixed;
  bottom: 0;
  background: rgb(233, 196, 218);
  background: linear-gradient(
    0deg,
    rgba(233, 196, 218, 1) 0%,
    rgb(255, 255, 255, 0) 92%
  );
}

.baby-boy {
  background-image: url(/boy.png);
}

.baby-girl {
  background-image: url(/baby-girl.png);
}

.man {
  background-image: url(/man.png);
}

.woman {
  background-image: url(/woman.png);
}

.couple {
  background-image: url(/wedding-couple.png);
}

@media screen and (max-width: 768px) {
  .countdown-section {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%) !important;
  }
}
