.timeline::before {
  background: linear-gradient(
    to bottom,
    #e9c4da,
    #e9c4da 50%,
    #ffffff 50%,
    #ffffff
  );
  background-size: 100% 10px;
  width: 2px;
}

.element {
  margin-bottom: 8rem;
}

.icon {
  background-color: #e9c4da;
  box-shadow: none;
  width: 15px !important;
  height: 15px !important;
  margin-left: -9px !important;
}

@media screen and (max-width: 678px) {
  .icon {
    margin-left: 12px !important;
  }

  .element::before {
    left: 20% !important;
    z-index: 10;
    width: 10rem !important;
    height: 10rem !important;
    top: 100% !important;
    right: 0 !important;
  }

  .element {
    margin-bottom: 12rem;
  }
}

.element::before {
  content: '';
  width: 15rem;
  height: 15rem;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.element1::before {
  background-image: url('/timeline-1.jpeg');
  left: 55%;
}

.element2::before {
  background-image: url('/timeline-2.jpeg');
  right: 55%;
}

.element3::before {
  background-image: url('/timeline-3.jpeg');
  left: 55%;
}

.element4::before {
  background-image: url('/timeline-4.jpeg');
  right: 55%;
}

.element5::before {
  background-image: url('/timeline-5.jpeg');
  left: 55%;
}

.element6::before {
  background-image: url('/timeline-6.jpeg');
  right: 55%;
}

.element7::before {
  background-image: url('/timeline-8.jpeg');
  left: 55%;
}

.element8::before {
  background-image: url('/couple.jpeg');
  right: 55%;
}

.thumb {
  transition: right 0.25s ease-in-out, left 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}

.thumbIcon {
  width: 60px;
  height: 60px;
  display: block;
  background-position: center;
  background-size: contain;
}
